/* CATEGORY */
.hidden {
	display: none;
}

article {
	left: 10%;
	min-width: 600px;
	width: 100%;
	max-width: 800px;
	border: thin solid #333;
	margin: 1rem auto;
}

.name {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem;
}

.description {
	text-indent: 1.5rem;
	text-align: justify;
	padding: 0 1rem;
}

.price {
	text-align: right;
	font-weight: 600;
	font-family: Helvetica;
	padding: 1rem;
	font-size: 250%;
}

.price:after {
	content: "р."
}

.price1 {
	text-align: right;
	font-weight: 600;
	font-family: Helvetica;
	padding: 1rem;
	font-size: 250%;
}

.wrap1 {
	display: flex;
}

.wrap figure {
	margin: 0 .5rem;
	width: 33%;
	height: auto;
}

h1 {
    color: #3f3f3f;
    font-family: rsl;
    font-size: 220%;
    margin-top: 20px;
    text-align: center;
}

.wrap img {
    max-width: 60%;
	height: auto;
	margin: 0 auto;
}

.tools {
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	text-decoration: none;
}

.tools img {
	width: 100%;
}

#gallery .element {
    background-color: #f9f9f9;
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 3px #dadada;
    margin: 15px 0;
    position: relative;
	width: 40%;
	margin: 20px auto;
}

#gallery {
	margin: 0 auto;
}

.korzina {
	margin: 10px;
}