* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

html, body {
	background-color:#FFAA00; 
    height: 100%;
}

.main_logo .logo_text {
    color: #000;
    font-size: 240%;
    font-weight: bold;
    padding: 10px;
}

.logo_reg .head_reg{
    color: #000;
    font-size: 120%;
    font-weight: bold;
padding: 10px;}

.main_logo {
    background: #FFD073;
    width: 100%;
    display: flex;
    justify-content: space-between;
	
}

.main_logo .logo {
    margin: 20px;
    padding: 4px;
}

.main_logo .logo a:hover {
    border: 2px solid #FF0000;
	text-align: center;
}

.main_logo .logo_reg {
    margin: 20px;
    padding: 8px; 
}

.main_logo .logo_reg a:hover {
    border: 2px solid #FF0000;
}
body {
	max-width: 1280px;
	min-width: 800px;
	width: 100%;;
	margin: 0 auto;
}

body > header {
	background-color:#FFAA00; 
	height: 200px;
	display: flex;

	align-items: stretch;
}


.ctrl-panel {
	font-size: 140%;
	margin: 30px;
	display: flex;
	width: 1000px;
	justify-content: space-around;
	height: 20px;
	font-weight: bold;
	color: #000;
	
}
.ctrl-panel a:hover {
	border: 2px solid #FF0000;
text-align: center;}
.ctrl-panel li { list-style: none; }

.topnav {
    background-color: #FFAA00;
    font-size: 20px;
    margin-top: 40px;
	
}

.topnav a {
    color: #000;
    font-size: 140%; 
	align-items: center;
    padding: 14px 16px;
    text-align: center;
}

.topnav a:hover {
    border: 2px solid #FF0000;
}



footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 15px 0;
    flex: 0 0 auto;
}
main {
	background-color: rgba(255,255,255, 1);
	padding: 1rem;
	margin: 2rem 0;
}

#reg {
	width: 100%;
	max-width: 600px;
	min-width: 480px;
	margin: auto;
}
footer a {
    color: #000;
   
    font-size: 120%;
    margin-left: 10px;
}